<connectionStrings>
  <add name="ChinookDB"
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
  
  <add name="DefaultConnection"
  connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-13ff4ab6-1c6e-487c-a36e-1136b767e847;AttachDbFilename=|DataDirectory|\aspnet-Website-13ff4ab6-1c6e-487c-a36e-1136b767e847.mdf;Integrated Security=SSPI"
  providerName="System.Data.SqlClient"/>
</connectionStrings>
